:root {
    font-family: 'Alata', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh;
    height: 100vh;
    margin: -10px;
}

header {
	height: 10vh;
	color: white;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.sidebar {
    background-color: black;
    color: white;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.home, .project {
    width: 90%;
}

.home > h3, .project > h3, button{
    cursor: pointer;
    font-weight: 300;
    
}

.project {
    margin-top: 1vh;
}

hr {
    width: 100%;
    margin-left: 0px;
}

.addNew, .add-task-btn, .impBtn, .cancel-btn, .add-task-2-btn{
    height: 5vh;
    width: 75%;
    border-radius: 50px;
    color: black;
    background-color: white;
    font-size: larger;
}
.add-task-btn, .cancel-btn, .add-task-2-btn {
    width: 10vw;
    font-size: 100%;
}
.cancel-btn, .add-task-2-btn {
    background-color: black;
    color: white;
    margin: auto;
}
.content-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: black;
    color: white;
    padding: 1vh 4vw;
    border-radius: 50px;
}

input, label{
    display: block;

}
label {
    font-weight: 100;
    font-size: smaller;
}

.main-content {
    padding:5vh 5vw;
    display:flex;
    flex-direction: column;
    gap: 10px;
    
    height: 80vh;
}

#add-task-box {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    padding: 0px 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid grey;

}

#detail {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100px;
    width: 99%;
    resize: none;
}
#title {
    grid-column-start: 1;
    grid-column-end: 2;
}

input, textarea {
    height: 3vh;
    border: 1px solid;
    border-radius: 5px;
}
.task-box-header > h1 {
    margin: 0;

}

.impBtn {
    height: 100%;
    width: 25%;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: black;
    
}
.task-box-header {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-content: space-between;
	align-items: center;
    margin-top: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

#task-details > * {
    border: 1px solid black;
    padding: 10px;
   
}
#task-details  {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}
.detail {
    flex: 2;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
