:root {
    font-family: 'Alata', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.content {
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 10vh;
    height: 100vh;
    margin: -10px;
}

header {
    height: 10vh;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 1%;
    padding-right: 1%;
}

.sidebar {
    background-color: black;
    color: white;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 1.5fr;

}

.home,
.project {
    width: 90%;
}

.home > .menu-item > h3,
.project> .project-list > .full-tab > .project-item-part-2 > h3,
button {
    cursor: pointer;
    font-weight: 300;
    padding: 0px;
    margin: 1vh;

}

.project> .project-list > .full-tab > .project-item-part-2 > h3,
.svg-btn-edit {
    word-break: break-word;
    cursor: pointer;
}


.menu-item > h1 {
    margin: 1vh;
}

.project {
    margin-top: 1vh;
}

hr {
    width: 100%;
    margin-left: 0px;
}

.addNewProject,
.add-task-btn,
.impBtn,
.cancel-btn,
.add-task-2-btn,
.add-project-2-btn {
    height: 5vh;
    width: 75%;
    border-radius: 50px;
    color: black;
    background-color: white;
    font-size: larger;
}

.add-task-btn,
.cancel-btn,
.add-task-2-btn,
.add-project-2-btn  {
    width: 10vw;
    font-size: 100%;
}

.cancel-btn,
.add-task-2-btn,
.add-project-2-btn {
    background-color: black;
    color: white;
    margin: auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1vh 4vw;
    border-radius: 50px;
}

input,
label {
    display: block;

}

label {
    font-weight: 100;
    font-size: smaller;
}

.main-content {
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d3d0d063;
    height: 80vh;
}

.outside-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(128, 128, 128, 0.266);
}
.add-task-box, .add-project-box {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	width: 50%;
	padding: 0px 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid grey;
	position: fixed;
	z-index: 1000000000;
	top: 31%;
	/* bottom: 18%; */
	left: 31%;
	right: 50%;
}
.add-project-box > h2 {
	text-align: center;
}
.add-project-box > input {
	align-self: center;
}
#detail {
	grid-column-start: 1;
	grid-column-end: 3;
	height: 100px;
	width: 99%;
	resize: none;
	margin: 0px;
    text-align: start;
}

#title {
    grid-column-start: 1;
    grid-column-end: 2;
}

input,
textarea {
    height: 3vh;
    border: 1px solid;
    border-radius: 5px;
}

.task-box-header>h1 {
    margin: 0;

}

.impBtn {
    height: 100%;
    width: 25%;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: black;

}

.task-box-header {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    border-radius: 17px;
    background-color: white;
}

#task-details>* {
    border: 1px solid black;
    padding: 10px;

}

#task-details {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}

.detail {
    flex: 2;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}


.radio-btn,
.important-star,
.star {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 100%;
    color: black;
    display: grid;
    place-content: center;
    font-weight: 900;
    font-size: x-large;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
    border: 2px solid black;

}

.star {
    color: grey;
    background-color: transparent;
    height: 50px;
    width: 50px;
    font-size: 200%;
    font-weight: 1000;
    border: none;
}

.important-star {
    color: black;
}

.star-white {
    font-size: 290%;
}

.menu-list-svg {
    height: 5vh;
    width: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.menu-item {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.menu-list-svg-small{
    height: 3vh;
    width: auto;
}

input:focus,
select:focus,
textarea:focus{
    outline: none;
    border: 2px solid purple
}


.valid {
    border: 1px solid green;
}

.error {
    border: 1px solid red;
}

.project-list {
    max-height: 400px;
    overflow-y: scroll;
}

.full-tab, .project-item-part-2 {
    display: flex;
    align-items: center;
    
}
.full-tab {
	display: flex;
	align-items: center;
	gap: 0px;
	height: 50px;
}
.project-icons {
	gap: 11px;
	display: flex;
	/* align-items: flex-start; */
	padding-right: 19px;
}
.project-item-part-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.project-icon-small {
	height: 4vh;
	width: auto;
	cursor: pointer;
}


.confirmation-box > h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.edit-input {
	height: 3vh;
	width: 70%;
	margin: 0px 0.5vw;
}